<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-p9dAP8qAuVUdiz2ZhRSD2waCLZkBDj8</string>
	<key>GCM_SENDER_ID</key>
	<string>115051447192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon2023</string>
	<key>PROJECT_ID</key>
	<string>hackathon2023-2a898</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon2023-2a898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115051447192:ios:0ec359b638c627479321ed</string>
</dict>
</plist>